img {
  width: 100%;
}

.landing {
  height: 100vh;
}

.landing {
  position: relative;
  background: url("https://images.ctfassets.net/e5mq1t8pfsum/4p8EhNzZvW2el1LFw0079E/1ae7a3f947c5aa6bc193466f4b0dfbb3/Webp.net-resizeimage__10_.jpg?w=720&fm=jpg&fl=progressive")
    no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
