.unActive{
transition-timing-function: ease-in;
transition: 0.9s;   
transform: translateX(130%);
}

 


.active{
transition-timing-function: ease-out;
transition: 0.8s;
transform: translateX(0);
}
 
.navbar-toggler-drop{
    height: 100vh;
    width: 100vw;
    color: white;
    position: absolute;
    top: 53px;
    right: 3px;
    z-index: 100;
    background: rgb(8, 6, 6);
    opacity: 0.9;
      
}
.navbar-toggler-drop ul{
display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
}

.navbar-toggler-drop ul>li{
    margin-top: 21%;
    margin-bottom: 20%;
    font-size: 2.5rem;
    color: rgb(43, 68, 211);
    width: 100%;
    padding-bottom: 10%;
}

.navbar-toggler-drop ul:nth-child(2) {
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 2.5rem;
    width: 100%;
    padding-bottom: 10%;
}

.navbar-toggler-drop ul > li:hover{
cursor: pointer;
transition-timing-function:ease in;
font-size: 1.8rem !important;
color: #0dcaf0;

}